extends layout

include mixins/crearProyecto


block contenido
        .contenido-principal

            h1  #{nombrePagina} -#{proyecto.nombre}


            +crearTareas(tarea)
                
            //- pre=vardump(tareas)

            .listado-pendientes
                ul 
                  if tareas.length
                    each tarea in tareas
                        li.tarea(data-tarea=tarea.id)
                            p=tarea.tarea
                            .acciones
                                if tarea.estado
                                    i.far.fa-check-circle.completo
                                else
                                    i.far.fa-check-circle
                                i.fas.fa-trash
                  else
                    p No hay tareas pendientes!

                //Avance del proyecto
            .avance
                h2 Avance del proyecto
                #barra-avance.barra-avance
                    #porcentaje.porcentaje
                //TO DO - Acciones que se pueden realizar

            .contenedor-acciones
                a(href=`/proyecto/editar/${proyecto.id}` class="boton") Edit Proyect
                button#eliminar-proyecto(data-proyecto-url=proyecto.url  type="button" class="boton eliminar") Deleted Proyect